<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車</title>
    <link rel="stylesheet" href="../static/css/cart.css">
    <script src="../static/js/cart.js" defer></script>
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <a href="{{ url_for('index') }}"><img src="../static/icons/icon-1.png" alt="logo"></a>
            </div>
        </div>
    </header>
    <main>
        <div class="cart">
            <!-- 購物車項目將由 JavaScript 動態生成 -->
        </div>
        <div class="cart-total-space">
            <div class="cart-total">
                <h2>
                    總價 <span class="original-word">(0個商品)</span>：
                    <span class="red-color">$0.00</span>
                </h2>
                <button class="checkout-btn">結帳</button>
            </div>
        </div>
    </main>
</body>
</html>
