<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中大購物網</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/common.js" defer></script>
    <script src="../static/js/testproduct.js" defer></script> <!-- 引入 testproduct.js -->
    <script src="../static/js/main.js" defer></script>   <!-- 引入 main.js -->
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <a href="{{ url_for('index') }}"><img src="../static/icons/icon-1.png" alt="logo"></a>
            </div>
            <div class="cart">
                <a href="{{ url_for('cart_page') }}"><img src="../static/icons/cart.png" alt="cart"></a>
                <div class="top-right">
                    <!-- 這裡會由 JavaScript 更新 -->
                </div>
            </div>
        </div>
    </header>    

    <!-- 商品預覽頁 -->
    <main>
        <section class="grid-container" id="product-container">
            <!-- 商品格子會在這裡動態生成 -->
        </section>
    </main>

    <footer>
        <p>&copy; Department computer network and programming project</p>
    </footer>
</body>
</html>
