<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中大購物網-登入頁面</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/login.js" defer></script> 
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <a href="{{ url_for('index') }}"><img src="../static/icons/icon-1.png" alt="logo"></a>
            </div>
            <div class="top-right">
                <ul>
                    <li><a href="{{ url_for('index') }}">回到中大購物網首頁</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="form-container">
        <h2>登入</h2><br>
        <form id="login-form">
            <!--使用者名稱-->
            <div class="input-group">
                <label for="username">使用者名稱:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <!--密碼-->
            <div class="input-group password-group">
                <label for="password">密碼:</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" required>
                    <button type="button" id="toggle-password" class="toggle-password-btn" onclick="togglePassword()">顯示</button>
                </div>
            </div>
            <!--登入-->
            <button type="button" class="login-btn" id="login-button">登入</button>
            <p>還沒有帳號嗎？ <a href="{{ url_for('signup') }}">按這裡註冊</a></p>
        </form>
    </div>
</body>
</html>
