<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.product_name }}</title>
    <link rel="stylesheet" href="../static/css/product.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <a href="{{ url_for('index') }}"><img src="../static/icons/icon-1.png" alt="logo"></a>
            </div>
            <div class="cart">
                <a href="{{ url_for('cart_page') }}"><img src="../static/icons/cart.png" alt="cart"></a>
            </div>
        </div>
    </header>

    <main>
        <div class="product-container">
            <!-- 左邊圖片 -->
            <div class="product-image">
                <img src="{{ product.product_first_image }}" alt="{{ product.product_name }}" id="product-image">
            </div>

            <!-- 右邊商品詳情 -->
            <div class="product-details">
                <div class="product-info">
                    <h1 class="product-title" id="product-title">{{ product.product_name }}</h1>
                    <div class="product-prices">
                        <b><p class="product-price" id="product-price">${{ product.product_prices | int }}</p></b>
                    </div>
                    <p class="product-stock" id="product-stock">庫存：{{ product.product_in_stock }} 件</p>
                    <div class="product-description">
                        <ul id="product-description">
                            <li>{{ product.product_infor }}</li>
                        </ul>
                    </div>
                </div>
                <div class="purchase-section">
                    <div class="quantity-label">
                        <input type="number" id="quantity" name="quantity" min="1" max="{{ product.product_in_stock }}" value="1" class="quantity-input">
                    </div>
                    <button class="cart-btn">加入購物車</button>
                    <button class="buy-now-btn">立即購買</button>
                </div>
            </div>
        </div>
    </main>

    <script src="../static/js/product.js"></script>
</body>
</html>
